* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    font-size: 28px;
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    position: relative;
    width: 750px;
    height: 100%;
    transform-origin: top left;
}