.paintingWrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &.noSelect {
    -webkit-user-select: none;
  }

  .drawBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px dashed red;
    z-index: 9;
  }
  .tip {
    color: #ccc;
    font-size: 24px;
    text-align: center;
  }

  .canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    color: #ccc;
    text-align: center;
    border: 1px dashed #ccc;
    height: 300px;
  }
}